*~
*.swp
robbed-and-heavily-modified/samples
robbed-and-heavily-modified/tetyk-samples
robbed-and-heavily-modified/nozzle-samples
robbed-and-heavily-modified/lip-sofor-samples
robbed-and-heavily-modified/tyk-jena-tin-nulu-samples
robbed-and-heavily-modified/serbian-princess-samples
